.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: 1px solid #a8a7a7;
    border-radius: 10px;
}

.icon {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    object-fit: contain;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-family: var(--font-almarai);
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    color: var(--color-text-primary);
}

.description {
    font-family: var(--font-almarai);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    color: var(--color-text-secondary);
}
